.white {
    color: white;
}

body {
    background-color: rgba(195, 177, 177, 0.945);
}

#navbar {
    background-color: rgb(103, 87, 87);
}

.bcgp {
    color: rgb(0, 251, 255);
}

.rice {
    background-color: grey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}